.container-fluid{
    background-color: palegoldenrod;
}
.my-navbar{
    background-color: ivory;
}
.left-column{
    padding: 100px;
}
.right-column{
    padding: 100px;
}
.my-footer{
    background-color: lavender;
}
